:root {
  --width-desktop: 144rem;
  --width-mobile: 37.5rem;

  --color-primary: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 50%);
  --color-black: hsl(0, 0%, 7%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 575px){
    font-size: 50%;
  }
  @media only screen and (max-width: 370px) {
    font-size: 31.25%;
  }
}

body {
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--width-desktop);
  background-color: var(--color-primary);
  padding: 21.85rem 0;
}

p{
  font-size: 1.6rem;
}
.card {

  background-color: var(--color-white);
  width: 38.4rem;
  padding: 2.4rem;
  border-radius: 2rem;
  box-shadow: 8px 8px 0 0 var(--color-black);

  display: flex;
  flex-direction: column;
  gap: 24px;

  &:focus,
  &:hover{
  box-shadow: 16px 16px 0 0 var(--color-black);

  }
  &:focus &__title,
  &:hover &__title{
    color: var(--color-primary);

  }

  &__img-container {
    border-radius: 1rem;
    overflow: hidden;
  }

  &__img {
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__tag {

    display: inline-block;
    background-color: var(--color-primary);
    padding: .4rem 1.2rem;
    font-weight: 800;
    align-self: flex-start;
    border-radius: .4rem;
  }

  &__date {
    font-size: 1.1rem;
    font-weight: 300;
  }

  &__description {

    color: var(--color-grey);
  }

  &__footer {

    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.2rem;
  }

  &__username {
    font-weight: 800;
  }
}